<template>
    <div>
        <div class="row col">
            <h1>Testpage</h1>
        </div>

        <div class="row col">
            <p>Testpage at all</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'test'
    }
</script>